header{
    background-color: darkblue;
    color: white;
    text-align: justify;
}
header::after{
    content: '';
    width: 100%;
    display: inline-block;
}
header>div, header div h1, header div img, header nav{
    display: inline-block;
    vertical-align: middle;
}

header > div {
    width: 70%;
    height: 100%;
    text-align: left;
}

header > div::before {
    content: '';
    display: inline-block;  
    vertical-align: middle;
    height: 100%;
}
header h1{
    width: 15%;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0px !important;
}
header img{
    padding-top: 0.5em;
}
header nav{
    padding-top: 1em;
}
a.menu{
    padding-right: 50px;
}
a.cart{
    padding-right: 30px;
}
header nav a{
    color: white;
}
main{
    margin: 100px 80px;
}

#menu-heading{
    text-align: left;
}
#cart-notification{
    text-align: center;
    color: green;
    font-size: 20px;
    font-weight: bold;
}
#edit-table, .menu-admin{
    width: 100%;
}
#edit-save{
    background-color: blue;
    text-align: center;
    color: white;
    height: 50px;
    width: 120px;
}
.name{
    text-align: left;
}
.price{
    text-align: right;
}
.active,.date-of-launch,.category, .free-delivery, .action{
    text-align: center;
}
#edit-status{
    color: green;
    font-weight: bold;
}
.cart-total{
    font-weight: bold;
    text-align: center;
}
.cart-total-value{
    font-weight: bold;
    text-align: right;
}
.no-cart{
    font-weight: bold;
    font-size: 20px;
    color: grey;
}
footer{
    background-color: gray;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: justify;
    
}
footer span{
    margin-top: 10px;
}
footer::after{
    content: '';
    width: 100%;
    display: inline-block;
}
footer::before {
    content: '';
    display: inline-block;  
    vertical-align: middle;
    height: 100%;
}
footer span{
    display: inline-block;
    float: left;
}
body{
    margin: 0px !important;
}